<h1>つぶやき一覧</h1>

<table border="1">
  <tr>
    <th>Tweet Id</th>
    <th>Group Id</th>
    <th>Parent Id</th>
    <th>User Id</th>
    <th>Tweet</th>
    <th>Tweet lat</th>
    <th>Tweet lon</th>
    <th>Children cnt</th>
    <th>Picture path</th>
  </tr>

<% for tweet in @tweets %>
  <tr>
    <td><%=h tweet.id %></td>
    <td><%=h tweet.group_id %></td>
    <td><%=h tweet.parent_id %></td>
    <td><%=h tweet.user_id %></td>
    <td><%=h tweet.tweet %></td>
    <td><%=h tweet.tweet_lat %></td>
    <td><%=h tweet.tweet_lon %></td>
    <td><%=h tweet.children_cnt %></td>
    <td><%=h tweet.picture_path %></td>
    <td><%= link_to 'Show', tweet %></td>
    <td><%= link_to 'Edit', edit_tweet_path(tweet) %></td>
    <td><%= link_to 'Destroy', tweet, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'つぶやき作成', new_tweet_path %><br/>
<%= link_to 'ユーザ一覧',:controller => 'users'%>
